*,*::before,*::after {
  box-sizing: border-box;
}
:root {
  --primary-color: #008AD8;
  --text-color: #565656;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: "Lexend Deca", serif;
    background: #F4F4F4;
}
.container {
  margin: 2.8em;
}
.title {
  margin-bottom: 0;
}
.subheading {
  font-size: 1.125rem;
  color: var(--text-color);
}
.filter,.labels {
  display: none;
}
.search {
  border: none;
  padding: .8em;
  border-radius: 2em;
  background: #fff url('assets/search.svg') no-repeat right .8em center;
  width: 100%;
}
.search:focus {
  outline: thin dotted;
}
.icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
}
.menu {
  cursor: pointer;
  margin: 0 .5em;
}
.far,.fas {
  cursor: pointer;
}
.cars,.labels {
  margin: -1em -1em 2em;
  padding: 1em;
  border-radius: 6px;
}
.cars:hover {
  background: #fff;
}
.car-name {
  font-size: 1.375rem;
  color: var(--primary-color);
  text-decoration: none;
}
.car-location {
  font-size: 1.125rem;
  color: var(--text-color) ;
}
.cols-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.car-price {
  font-size: 1.5rem;
  margin: 0;
}
